body {
    margin: 0;
}

.first-part {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.first-part h1 {
    font-size: 30px;
}

.button-link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FFA24C, #FF1E1E);
    padding: 10px 18px;
    border-radius: 20px;
}

.left-half {
    width: 42%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 15%;
}

.left-half p {
    margin-bottom: 10%;
}

.left-half h1 span {
    color: #FFA24C;
}

.right-half {
    width: 50%;
}

.right-half img {
    width: 100%;
}

.second {
    background-color: rgba(252, 143, 73, 0.1);
    display: flex;
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
}

.about {
    width: 45%;
    margin-left: 2%;
    margin-right: 3%;
}

.about h1 {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.about p {
    padding-right: 10%;
    padding-bottom: 100px;
}

.about img {
    width: 50%;
    padding-top: 64px;
    padding-left: 30%;
}

#third {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#fourth {
    display: flex;
}

.image img {
    width: 100%;
}

.image {
    width: 48%;
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    border-radius: 30px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15)
}

.fifth {
    display: flex;
    width: 80%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 12%;
    text-align: center;
}

.header {
    padding-left: 12%;
    padding-right: 5%;
}


.footer {
    text-align: center;
    background-color: black;
    color: #E5E5E5;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer h1 span {
    color: #FFA24C;
}