body {
    margin: 0;
}

.first-part {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-bottom: 10%;
}

.button-link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FFA24C, #FF1E1E);
    padding: 10px 18px;
    border-radius: 20px;
}

.left-half {
    width: 42%;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 15%;
}

.left-half h1 span {
    color: #FFA24C;
}

.right-half {
    width: 50%;
}

.right-half img {
    width: 100%;
}